<% content_for(:title, @title) %>
<%= render :partial => 'nav' %>

  <div class="head_info">
    <div class="onethird game">
      <h2><%= @tag.titlecase %> Games</h2>
    </div>
    <div class="twothirds nopad"> 
        <%= render :partial => 'shared/ad_leaderboard' %>
    </div>
  </div>
  
  <div class="twothirds">
   <ul class="comments g">
     <%= render :partial => 'game', :collection => @games %>
   </ul>
  </div>
    	
<%= render :partial => 'side' %>