<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= title "GameGum | Flash Games" %></title>

  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="description" content="<%= @meta_description %>" />
  
  <!-- Favicon 
  <link rel="Shortcut Icon" type="image/ico" href="favicon.ico" /> -->

  <!-- Stylesheet -->
  <%= stylesheet_link_tag 'screen.css' %>
</head>
<body class="simple">
	<div id="head">
		<div><h1><%= link_to "GameGum - Play Flash Games", root_url %></h1></div>
	</div>
	
	<div id="content">
		<div id="main">
<%= yield %>
		</div>
	</div>

</body>
</html>